body {
  background-color: rgba(244, 245, 248, 0.7);
}

.btn-primary {
  border: none;
  background-color: rgb(53, 80, 185);
  transition: background-color 0.3s ease 0s;
}

.btn-primary:hover {
  background-color: rgb(51, 202, 148);
}

.card {
  border: none;
}

.card-body {
  background-color: #fff;
  border: none;
}

.text-alpha {
  color: #022063;
}
